
/* ふんわり表示 */
.fade-in {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.fade-in.show {
  opacity: 1;
}

/* レイアウト */
.wrapper {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}
.flex {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

/* 基本スタイル */
h1 {
  text-align: center;
  margin: 50vh 0;
}
img {
  width: 200px;
  height: 160px;
  object-fit: cover;
}
p {
  line-height: 1.5;
}