@charset "utf-8";

body{
    margin: 0;
    font-size: 3rem;
    text-align: center;
    color: #fff;
}

.area:nth-child(odd){
    background-color: #0db;
}
.area:nth-child(even){
    background-color: #0bd;
}

.container{
    overflow: auto;
    scroll-snap-type: y mandatory;/* 意味：必須の、強制的な/読み：マンダトリー */
    height: 100vh;
}

.area{
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}